.logo {
	position: absolute;
	width: 130px;
	top: 15px;
	left: 20px;
	background-color: yellow;
	box-shadow: 0 0 1px yellow, 0 0 1px yellow, 0 0 1px yellow, 0 0 1px yellow,
		0 0 40px yellow;
}
option {
	text-align: center;
}
